.post_image{
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.post_text{
    font-weight: normal;
    padding: 20px;
}
.post_header{
    display: flex;
    align-items: center;
    padding: 20px;
}
.post_Avatar{
    margin-right: 10px;
}
.post{
    max-width: 500px;
    background-color: white;
    border: 1px solid lightgray;
    margin: 0 auto;
    margin-bottom: 45px;
}