* {
  margin: 0;
}

.App{
  background-color: #fafafa;
}
.app_headerImage{
  width: 100px;
  object-fit: contain;
}
.app_posts{
  align-content: center;
}
.app_header{
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}
.app_signup{
  display: flex;
  flex-direction: column;
}